

h1{
    margin-left: 45%;
    font-size: 200%;
}
body{
    background-color: rgb(216, 216, 216);
}




header{
    
    margin: -1% -1% 0% -1%;
   
    background-color: white;
    height: 70px;
    width: 101.5%;
    display: flex;
    position: sticky;
    top: -1%;
    box-shadow: -5px 2px 10px;
    z-index: 1;
}
.logo-A{
    margin: -1% 0% 0% 0%;

}
.logo{
    margin: 0% 00% 0% 3%;
    width: 30%;
    position: sticky;
    top: -1%;
    
}
.P-logo{
    margin: -10% 0% 0% 10%;
    font-size: 120%;
    color: rgb(0, 0, 0);
    position: sticky;
    top: 1%;
    font-family: fantasy;
    
}  

.lien-logo{
    text-decoration: none;
}

.menu-H{
margin: 7% 0% 4% 40%;
display: flex;
font-size:  200%;
font-family: sans-serif;
top: 0%;


}
.lien-H{
   
    text-decoration: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 60%;
    font-weight: 200;
    
    
    
}
.li-H{margin: 0% 10% 0% 5%;
    list-style: none;
    
}
.Titl-H{
    font-size: 400%;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background-color: rgba(0,0,0,0.5);
    margin: 20% 20% 20% -6%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;


}
.footer{
    
    display: flex;
    margin: 0px;
    background-color: white;
    margin: 1% 0% 0% -1%;
    height: 60%;
    width: 101.5%;
}
.footer-H{  
     margin: 0% 5% 0% 5%;
     font-family: Arial, Helvetica, sans-serif;
    font-size: 4%;
}

.img{
    width: 40%;
    margin: 0% 0% 0% 60%;
    box-shadow: -5px 2px 10px;
}
.img-2{
   width: 110%;
   
   margin: -4% 0% 0% -9.5%;
}
.P-image{
    
    right: 30%;
    z-index: 0;

    
    background-color: rgba(0,0,0,0.7);
    color: white;
    position: absolute;
    font-size: 200%;
    top: 40%;
    margin: 10% -4% 0% 0%;
    
    padding: 10% 20% 10% 20%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.P1{
    font-family: source sans pro;
    height: 10px;
    font-size: 20px;
    margin-top: 3%;
    margin-left: 3%;
}
.border-H{
    margin: 0% 20% 15% 0%;
    height: 30%;
    width: 500%;
    background-color: rgb(168, 168, 168);
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 00px 5px 30px;

}
.icon1{ width: 6%;
    height: 40%;
    margin-left: 1%;
    margin-top: 1%;
}

.img1{
    
    height: 65%;
    box-shadow: -3px 2px 10px;
    margin-top: 2%;
    margin-left: 0%;
}
.i{
    display: flex;
}
.copy{
    
    text-decoration: rgb(255, 255, 255);
    color: black;
    
    
}
.copy-A{
    margin-left: -1%;
    display: flex;
    background-color: white;
    width: 101.5%;
    font-family: Arial, Helvetica, sans-serif;
    
}
.Copy-B{
    margin-left: 10%;
}
.suiv{
    font-size: 800;
    font-weight: 400;
    color: rgb(1, 1, 170);
    margin-left: 20%;
}
.p3{
    font-size: 100%;
}
@media (max-width:2560px) {
    
    .img1{
       width: 100%;

    }
 .P-image{
     top: 35%;
 }   
 .p1{
    font-size: 200px;
 }
 .footer-H{
     font-size: 130%;
 }
 .P-image{
    top: 30%;
}
}
@media (max-width:1600px){
    .P-image{
        top: 30%;
    }
}


@media (max-width:1000px) {

    header{
        width: 112%;
        
    }
   
    .menu-H{
        margin: 7% 0% 4% 60%;
        
   
       }
       .img-2{
           width: 121%;
       }

       .img{
           margin-left: 9%;
        width: 95%;

       }
       .img1{margin-left: 9%;
        width: 95%;
       }
       .footer{
           margin-left: 1%;
        width: 110%;
        margin-right: 1%;

       }
       .i{
           display: block;
       }
       .border-H{
           margin-left: 5%;
           width: auto;
        height: 100px;
       }
       .copy-A{
        margin-left: 1%;
        width: 110%;
       }
       
      


}
@media (max-width:770px)  {
    .toggle_btn{
        height: 30px;
        width: 30px;
        position: relative;
        float: right;
        margin-right: 10px;
        margin-top: 5px;
        left: 50%;
        
    }
    .toggle_btn span{

        height: 3px;
        background-color: rgb(0, 0, 0);
        width: 100%;
        position: absolute;
        top: 20px;
      
    }
    .toggle_btn span:before   {
        content: '';
        height: 3px;
        background-color: rgb(0, 0, 0);
        width: 100%;
        position: absolute;
        top: -10px;
        left: 0;
    }
    .toggle_btn span:after{
        content: '';
        height: 3px;
        background-color: rgb(0, 0, 0);
        width: 100%;
        position: absolute;
        top: 10px;
        left: 0;
    }
    .menu-H{
        font-family: sans-serif;
        text-align: center;
        display: block;
        padding: 10px 50px 0px 50px;
        display: table;
        background-color: white;
        height: 100px;
        margin-top: -80%;
        margin-left: 129%;
       
        
       


    }
    
    .menu-H_open{
        font-family: sans-serif;
        text-align: center;
        display: block;
        padding: 10px 50px 0px 50px;
        display: table;
        background-color: white;
        height: 100px;
        
        margin-left: 129%;
        margin-top: 23%;
    }
    .lien-H{
        top: 30%;
    }
    
    .img-2{
        width: 110%;
    }
    
    header{
        width: 101.5%;
        
    }
    .logo-A{
        margin-top: -2%;
    }
  
    .footer{
        display: block;
        font-size: 80%;
        width: 98%;
    }
    .img{
        width: 100%;
        margin-left: 0.3%;
    }
    .img1{
        margin-left: 0.3%;
        width: 100%;
        
    }
    .border-H{
        width: 70%;
        height: 100px;
        margin-bottom: 5%;
    }
    .copy-A{
        margin-top: -3%;
        display: inline-table;
        width: 98%;
    }
    .Copy-B{
        margin-top: 5%;
    }
    .fb{
        margin-left: 10%;
    }





    
}
@media (max-width:400px){
    .P-image{
        left: 55%;

        padding: 10% 40% 10% 04%;
        
    }
    .menu-H{
        margin-left: 5%;
    }
    .toggle_btn{
        left: 8%;
    }
    
    header{
        width: 162%;
        margin: -2% 0% 0% -2%;
        
    }
    .logo-A{
        margin: -2%;
    }
    .img-2{ 
        width: 180%;
        margin: -5% 0% 0% -14%;
    }
    .border-H{
            width: 130%;

    }
    .img{
        width: 150%;
    }

    .img1{
        width: 150%;
    }
    .toggle_btn span{
        left: 600%;
    }
    .footer{
        width: 150%;
    }
    .copy-A{
        width: 150%;
    }
}


/*contact*/
.contact-A{
    display: table;
}
.nom{
margin-top: 10%;
margin-left: 10%;
width: 200%;
height: 30px;



}
#nom{
    margin-top: 10%;
margin-left: 10%;
width: 200%;

}
.contact-B{
    display: flex;
}
.contact-C{
    
    margin: 1% 10% 0% 40%;
}
.icon3{
    width: 8%;
    
}


.P-icon3{
    font-family: Arial, Helvetica, sans-serif
}
.button-c{
    width: 30%;
    height: 30%;
    margin-left: 20%;
    margin-top: 10%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(245, 128, 108);


}
@media(max-width:700px)
{
    .contact-B{
        display: flex;
        flex-direction: column;

    
        
    }
    .nom{
        margin-top: 10%;
        margin-left: 10%;
        width: 120%;
        }
        #nom{
            margin-top: 10%;
            margin-left: 10%;
            width: 120%;
        }
    .contact-C{
        position: relative;
        margin-left: 13%;
    }
}